.cards {
    display:grid;
    grid-gap: 10px;

    @media(min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media(min-width: $desktop) {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        background-color: #ddd;
        .card__name {
            border:6px dotted $color2;
            margin: 0;
            padding: 20px 10px;
            background-color: #f1f1f1;
        }
        .card__bio {
            padding: 20px;
        }

        .card__img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .card__breed {
            padding: 0 20px;
        }

        .card__age {
            padding: 0 20px;
        }

        .card__color {
            padding: 0 20px;
        }
    }
}

.btn_container {
    display:flex;
    justify-content: flex-end;
}
.btn {
    border:none;
    padding: 10px 15px;
    font-size: 16px;
    background-color: $color1;
    color: white;
    margin: 0;
}

.paganation {
    margin: 1em 0;
    display:flex;
    justify-content: space-between;

    .next, .prev {
        text-align: center;
        background-color: $color2;
        color: white;
        width: 100px;
        font-size: 14px;
        transition: all .3s ease-out;
        border:none;
        &:hover {
            background-color: darken($color2, 8%);
        }
    }
}

.show {
    display: grid;
}

.hidden {
    display: none;
}
